.container_not_found {
    width: 600px;
    height: 30vh;
    margin: 30vh auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
}

.container_not_found .not_found {
    font-size: 3rem;
}

@media screen and (max-width: 425px) {
    .container_not_found {
        width: 90%;
        height: 30vh;
        margin: 30vh auto;
        padding: 1rem;
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 10px;
    }

    .container_not_found .not_found {
        font-size: 2rem;
    }
}

@media screen and (max-width: 375px) {
    .container_not_found .not_found {
        font-size: 1.7rem;
    }    
}