* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(to right,
  #d0d0f5 0%, #cbd9f5 50%, #d8faf8 100%);
}


